<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-64 h-0 overflow-y-auto">
    <div class="relative inline-block px-3 text-left">
      <nav class="px-3">
        <div>
          <h3 class="text-xs font-semibold tracking-wider text-gray-500 uppercase" id="teams-headline">
            Filter Candidates
          </h3>
          <%= form_with url: report_update_candidates_path, method: :get do |form| %>
            <main class="max-w-lg pt-6 pb-12 mx-auto space-y-4 lg:pb-16">
              <div>
                <label for="created" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Created By
                </label>
                <%= form.collection_select(:created_by, User.owners, :id, :name, { :prompt => "Select Created by ", :selected => (params["created_by"] if !params["created_by"].blank?) }, :class => "form-text-field") %>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Updated After Date
                </label>
                <%= form.date_field :updated_after_date, class: "form-text-field mt-1", value: params["updated_after_date"].blank? ? (Date.today - 15.days).to_formatted_s(:db) : params["updated_after_date"] %>
              </div>
              <div>
                <label for="date" class="block text-sm font-medium text-gray-700">
                  Updated Before Date
                </label>
                <%= form.date_field :updated_before_date, class: "form-text-field mt-1", value: params["updated_before_date"].blank? ? (Date.today).to_formatted_s(:db) : params["updated_before_date"] %>
              </div>
              <div>
                <label for="bucket" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Bucket
                </label>
                <%= select_tag :bucket, options_for_select(Candidate.buckets.map { |k, v| [k.humanize.capitalize, k] }, (params["bucket"] unless params["bucket"].blank?)), class: "form-text-field", :name => "bucket", :prompt => "Select Bucket" %>
              </div>
              <div>
                <label for="bucket" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Current Status
                </label>
                <%= select_tag :status, options_for_select(Candidate.statuses.map { |k, v| [k.humanize.capitalize, k] }, (params["status"] unless params["status"].blank?)), class: "form-text-field", :name => "status", :prompt => "Select Status" %>
              </div>
              <div>
                <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Source
                </label>
                <%= form.collection_select(:source_id, @sources.order(:title), :id, :title, { :prompt => "Select Source", :selected => (params["source_id"] if !params["source_id"].blank?) }, :class => "form-text-field") %>
              </div>
              <div class="flex justify-end mt-6">
                <%= link_to "Reset", report_update_candidates_path, class: "btn-secondary mr-2" %>
                <%= form.submit "Search", class: "btn-primary" %>
              </div>
            </main>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</div>
