<div class="flex flex-col pt-5 pb-4 border-r border-gray-200">
  <div class="flex flex-col flex-1 w-64 h-0 overflow-y-auto p-1">


    <div class="relative inline-block px-3 text-left">
      <h5 class="mr-3 font-semibold dark:text-white">Job Openings</h5>
        <% @stats.opening_stats.each do |stat| %>
        <a class="ml-2 hover:font-medium text-gray-600 hover:text-blue-600 dark:text-blue-500 hover:underline text-sm" href="/report/bucket_report?opening_id=<%= stat[:id] %>&bucket=<%= @bucket %>"><%= stat[:count].to_s %> <%= stat[:title] %></a>
        <% end %> 
</div>

<div class="relative inline-block px-3 text-left">

  <h5 class="mr-3 font-semibold dark:text-white mt-4">Location</h5>
    <% @stats.location_stats.each do |stat| %>
    <a class="ml-2 hover:font-medium text-gray-600 hover:text-blue-600 dark:text-blue-500 hover:underline text-sm" href="/report/bucket_report?location=<%= stat[:location] %>&bucket=<%= @bucket %>"><%= stat[:count].to_s %> <%= stat[:location].titleize %></a>      
    <% end %>
</div>

<div class="relative inline-block px-3 text-left mt-4">
  <h5 class="mr-3 font-semibold dark:text-white">Statuses</h5>
    <% @stats.status_stats.each do |stat| %>
    <a class="ml-2 hover:font-medium text-gray-600 hover:text-blue-600 dark:text-blue-500 hover:underline text-sm" href="/report/bucket_report?status=<%= stat[:status] %>&bucket=<%= @bucket %>"><%= stat[:count].to_s %> <%= stat[:status].titleize %></a>      
    <% end %> 
</div>

<div class="relative inline-block px-3 text-left mt-4">
      <h5 class="mr-3 font-semibold dark:text-white">Owners</h5>
        <% @stats.owner_stats.each do |stat| %>
        <a class="ml-2 hover:font-medium text-gray-600 hover:text-blue-600 dark:text-blue-500 hover:underline text-sm" href="/report/bucket_report?owner_id=<%= stat[:id] %>&bucket=<%= @bucket %>"><%= stat[:count].to_s %> <%= stat[:name] %></a>
        <% end %> 
</div>

    </div>
</div>