<tr class="bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
  <th scope="row" class="flex items-center px-4 py-2 text-gray-900 whitespace-nowrap dark:text-white">
    <div class="w-full hover:underline"><a href="<%= member_report_path(@member, report) %>"><div class="text-sm font-semibold"><%= report.title %></div>    </a></div>
  </th>
  <td class="px-4 py-2"><%= report.submitter.name %></td>
  <td class="px-4 py-2"><%= display_created_at(report) %></td>
  <td class="px-4 py-2">
    <div class="flex items-center"><%= report.status.titleize %></div>
  </td>
  <td class="px-4 py-2">
    <!-- Modal toggle -->
    <a href="<%= edit_member_report_path(@member, report) %>" type="button" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
  </td>
</tr>
