<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col">
  <!-- 3 column wrapper -->
  <div class="mx-auto w-full grow lg:flex xl:px-2 -ml-4">
    <!-- Left sidebar & main wrapper -->
    <div class="w-80 xl:flex"><%= render partial: "opening/profile", locals: { opening: @opening } %></div>

    <div class="flex-1">
      <!-- Main area -->
      <%= render partial: "opening/nav", locals: { opening: @opening } %>

      <div class="p-6 text-sm"><%= @opening.description %></div>
    </div>

    <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      <!-- Right column area -->
      <div>
        <h5 class="mr-3 font-semibold dark:text-white">Create Interview Panel</h5>
        <p class="text-gray-500 dark:text-gray-400 text-sm mb-4">Following list shows all the interviewers in the team. Select interviewers who will be conducting the interviews for this opening and create an interview panel.</p>

        <div data-controller="opening">
          <% @interviewer_options.each do |interviewer| %>
            <div class="flex items-center mb-2">
              <input
                type="checkbox"
                name="interviewers[]"
                value="<%= interviewer.id %>"
                id="interviewer_<%= interviewer.id %>"
                data-action="opening#toggleInterviewer"
                data-user-id="<%= interviewer.id %>"
                data-opening-id="<%= @opening.id %>"
                class="mr-2 checkbox"
                <%= @opening.interviewers.exists?(interviewer.id) ? 'checked' : '' %>
              >

              <label for="interviewer_<%= interviewer.id %>" class="text-gray-600 font-medium text-sm dark:text-gray-200"><%= interviewer.name %></label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
