<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5 min-h-screen">
  <div class="px-4 mx-auto max-w-screen-2xl lg:px-8">
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-sm">
      <div class=" divide-y dark:divide-gray-700">
        <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
          <div>
            <h1 class="mr-3 text-lg font-semibold dark:text-white">Job Openings</h1>
            <p class="text-gray-500 dark:text-gray-400 text-sm">Manage all your job openings or add a new one.</p>
          </div>
          <div>
            <a type="button" target="_blank" href="<%= public_openings_path %>"
                class="btn-secondary">
              View Openings
            </a>
            <% if policy(:opening).create?%>
              <a type="button" href="/openings/new"
                class="btn-primary">
                Add new Openings
              </a>
            <% end %>
          </div>
        </div>
      </div>
      <% if current_user.admin? %>
        <div class="flex flex-wrap p-4 border-t border-b dark:border-gray-700 px-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
          <div class="items-center hidden mr-4 text-sm font-medium text-gray-900 md:flex dark:text-white">
            Show records only for:
          </div>
          <div class="flex flex-wrap items-center">
            <div class="flex items-center mr-4">
              <a href="<%= openings_path(active: true) %>">
                <% if params[:active].present? && params[:active] == 'true' %>
                  <input id="all-products" type="radio" value="" name="show-only"
                   class="w-4 h-4 bg-gray-100 border-gray-300 text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer" checked>
                <% else %>
                  <input id="all-products" type="radio" value="" name="show-only"
                   class="w-4 h-4 bg-gray-100 border-gray-300 text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer">
                <% end %>
                <label for="all-products" class="mr-4 text-sm font-medium text-gray-900 dark:text-gray-300">
                  Active Openings
                </label>
              </a>
              <a href="<%= openings_path(active: false) %>">
                <% if params[:active].present? && params[:active] == 'false' %>
                  <input id="all-products" type="radio" value="" name="show-only"
                   class="w-4 h-4 bg-gray-100 border-gray-300 text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer" checked>
                <% else %>
                  <input id="all-products" type="radio" value="" name="show-only"
                   class="w-4 h-4 bg-gray-100 border-gray-300 text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer">
                <% end %>
                <label for="all-products" class="text-sm font-medium text-gray-900 dark:text-gray-300">
                  Inactive Openings
                </label>
              </a>
            </div>
          </a>
          <% unless params[:active].nil? %>
            <%= link_to "Show All", openings_path, class: "underline mr-4 font-medium text-blue-600 dark:text-blue-500 hover:underline text-sm" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-4 py-3">Position</th>
            <th scope="col" class="px-4 py-3">Open Positions</th>
            <th scope="col" class="px-4 py-3">Primary Skill</th>
            <th scope="col" class="px-4 py-3">Active Since</th>
            <th scope="col" class="px-4 py-3">Active Days</th>
            <th scope="col" class="px-4 py-3">Status</th>
            <th scope="col" class="px-4 py-3">Owner</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "opening", collection: @openings, as: :opening %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
