<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="flex min-h-full flex-col">
  <!-- 3 column wrapper -->
  <div class="mx-auto w-full max-w-screen-2xl grow lg:flex xl:px-2 -ml-4">
    <!-- Left sidebar & main wrapper -->
    <div class="w-80 xl:flex">
      <%= render partial: "candidate/profile", locals: { candidate: @candidate } %>
    </div>
    <div class="flex-1">
      <!-- Main area -->
      <%= render partial: "candidate/nav", locals: { candidate: @candidate } %>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-2">
                Email
              </th>
              <th scope="col" class="px-4 py-2">
                Sent By
              </th>
              <th scope="col" class="px-4 py-2">
                Sent On
              </th>
              <th scope="col" class="px-4 py-2">
                Status
              </th>
              <th scope="col" class="px-4 py-2">
                Action
              </th>
            </tr>
          </thead>
          <tbody id="emails" class="divide-y divide-gray-200">
            <%= render @emails %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="shrink-0 border-t border-gray-200 px-4 py-4 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      <!-- Right column area -->
      <div>
        <h5 class="mr-3 font-semibold dark:text-white">Send Email</h5>
        <p class="text-gray-500 dark:text-gray-400 text-sm mb-4">Select which email you want to send to the candidate.</p>
        <%= button_to "About Us Email", candidate_emails_path(@candidate, kind: "about_us_email"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline text-sm", data: {
                                 controller: "confirmation",
                                 "confirmation-message-value": "Are you sure you want to send Company Profile email to this candidate?",
                                 action: "confirmation#confirm",
                               } %>
        <%= button_to "Job Description Email", candidate_emails_path(@candidate, kind: "job_description_email"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline text-sm", data: {
                                 controller: "confirmation",
                                 "confirmation-message-value": "Are you sure you want to send Job Description email to this candidate?",
                                 action: "confirmation#confirm",
                               } %>
        <%= button_to "Rejection Email", candidate_emails_path(@candidate, kind: "rejection_email"), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline text-sm", data: {
                                 controller: "confirmation",
                                 "confirmation-message-value": "Are you sure you want to send rejection email to this candidate?",
                                 action: "confirmation#confirm",
                               } %>
      </div>
    </div>
  </div>
</div>
