<p>Hello All,</p>
<p><%= @recruiter.name %> added <a href= "<%= @new_candidates_daily_report_url %>"><%= @new_candidates_count %> candidates</a> yesterday.</p>
<p><%= @recruiter.name %> updated <a href= "<%= @updated_candidates_daily_report_url %>"><%= @updated_candidates_count %> candidates</a> yesterday.</p>
<p><%= @recruiter.name %> pipelined <a href= "<%= @pipelined_candidates_daily_report_url %>"><%= @pipelined_candidates_count %> candidates</a> yesterday.</p>
<p>Thanks</p>