<tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
  <th scope="row" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <div class="flex items-center hover:underline">
      <a href="<%= candidate_timeline_path(candidate)%>">
        <%= candidate.name %>
      </a>
    </div>
  </th>
  <td class="px-4 py-2">
    <%= candidate.email %>
  </td>
  <td class="px-4 py-2">
    <%= candidate.phone %>
  </td>
  <td class="px-4 py-2">
    <%= candidate.role.nil? ? "-" : candidate.role.title %>
  </td>
  <td class="px-4 py-2">
    <%= candidate.opening.nil? ? "-" : candidate.opening.title %>
  </td>
  <td class="px-4 py-2"><%= candidate.user.name %></td>
  <td class="px-4 py-2"><%= display_created_at(candidate)%></td>
</tr>
