<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-8">
    <h2 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">Edit Candidate</h2>
    <%= tailwind_form_with(model: @candidate, id: dom_id(@candidate)) do |form| %>
      <%= render "shared/error_messages", resource: @candidate %>
      <%= render "shared/form_messages", resource: @candidate, message: local_assigns[:message] %>
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <h2 class="mt-8 text-xl font-semibold leading-none text-gray-900 dark:text-white">Personal Information</h2>
        </div>
        <div>
          <%= form.text_field :first_name, "First Name", required: true, placeholder: "John" %>
        </div>
        <div class="w-full">
          <%= form.text_field :last_name, "Last Name", required: true, placeholder: "Doe" %>
        </div>
        <div>
          <%= form.text_field :email, "Email", required: true, placeholder: "name@domain.com" %>
        </div>
        <div>
          <%= form.text_field :phone, "Phone", required: true, placeholder: "9876543210" %>
        </div>
        <div>
          <%= form.text_field :location, "Current City", required: true, placeholder: "Noida" %>
        </div>
        <div>
          <%= form.text_field :birth_year, "Birth Year", placeholder: "1989" %>
        </div>
        <div class="sm:col-span-2">
          <%= form.text_area :biography, "Biography", placeholder: "Some personal details about candidate..", style: "height:120px" %>
        </div>
      </div>
      <h2 class="mb-4 mt-8 text-xl font-semibold leading-none text-gray-900 dark:text-white">Professional Information</h2>
      <div class="grid gap-4 mb-4 md:gap-6 md:grid-cols-2 sm:mb-8">
        <div>
          <%= form.text_field :current_title, "Current Job Title", placeholder: "Senior Software Engineer" %>
        </div>
        <div>
          <%= form.text_field :current_company, "Current Employer", placeholder: "Current Company Name" %>
        </div>
        <div>
          <%= form.text_field :current_ctc, "Current CTC (LPA)", placeholder: "12" %>
        </div>
        <div>
          <%= form.text_field :expected_ctc, "Expected CTC (LPA)", placeholder: "14" %>
        </div>
        <div>
          <%= form.text_field :experience, "Experience (Years)", placeholder: "5.2" %>
        </div>
        <div>
          <%= form.text_field :notice_period, "Notice Period (Days)", placeholder: "30" %>
        </div>
        <div>
          <%= form.text_field :highest_qualification, "Highest Education Qualification", placeholder: "B.Tech" %>
        </div>
        <div>
          <label for="user-role" class="inline-flex items-center mb-1 text-sm font-medium text-gray-900 dark:text-white">
            Primary skill
            <button type="button" data-tooltip-target="tooltip-user-skill" data-tooltip-style="dark" class="ml-1">
              <svg aria-hidden="true" class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:hover:text-white dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Show information</span>
            </button>
            <div id="tooltip-user-skill" role="tooltip" class="inline-block absolute invisible z-10 py-1 px-2 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-sm shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Select what is primary skill of this candidate.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </label>
          <%= form.collection_select(:role_id, @roles, :id, :title, { :prompt => "Select Primary Skill" }, :class => "form-text-field", :required => true )%>
        </div>
      </div>
      <h2 class="mb-4 mt-8 text-xl font-semibold leading-none text-gray-900 dark:text-white">Social Information</h2>
      <div class="grid gap-4 mb-4 md:gap-6 md:grid-cols-2 sm:mb-8">
        <div>
          <%= form.text_field :linkedin, "Linkedin", placeholder: "Linkedin Profile URL" %>
        </div>
        <div>
          <%= form.text_field :portfolio, "Personal Website or portfolio", placeholder: "Portfolio URL" %>
        </div>
        <div>
          <%= form.text_field :github, "Github", placeholder: "Github profile URL" %>
        </div>
        <div>
          <%= form.text_field :twitter, "Twitter", placeholder: "Twitter Profile" %>
        </div>
      </div>
      <h2 class="mb-4 mt-8 text-xl font-semibold leading-none text-gray-900 dark:text-white">Additional Information</h2>
      <div class="grid gap-4 md:gap-6 md:grid-cols-2 sm:mb-4">
        <div>
          <label for="user-role" class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Candidate Source
            <button type="button" data-tooltip-target="tooltip-user-role" data-tooltip-style="dark" class="ml-1">
              <svg aria-hidden="true" class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:hover:text-white dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Show information</span>
            </button>
            <div id="tooltip-user-role" role="tooltip" class="inline-block absolute invisible z-10 py-1 px-2 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-sm shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Please tell us from where this candidate was sourced or from where we got the resume.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </label>
          <%= form.collection_select(:source_id, @sources, :id, :title, { :prompt => "Select Source" }, :class => "form-text-field", :required => true) %>
        </div>
        <div>
          <label for="user-role" class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Candidate Bucket
            <button type="button" data-tooltip-target="tooltip-user-bucket" data-tooltip-style="dark" class="ml-1">
              <svg aria-hidden="true" class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:hover:text-white dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Show information</span>
            </button>
            <div id="tooltip-user-bucket" role="tooltip" class="inline-block absolute invisible z-10 py-1 px-2 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-sm shadow-sm opacity-0 tooltip dark:bg-gray-700">
              In which bucket you want to put candidate.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </label>
          <%= select_tag :bucket, options_for_select(Candidate.buckets.map {|k, v| [k.humanize.capitalize, k]}, @candidate.bucket), class: "form-text-field", :name => "candidate[bucket]", :selected => @candidate.bucket %>        </div>
        <div class="sm:col-span-2">
          <label for="user-role" class="inline-flex items-center mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Associate with Job Opening
            <button type="button" data-tooltip-target="tooltip-user-opening" data-tooltip-style="dark" class="ml-1">
              <svg aria-hidden="true" class="w-4 h-4 text-gray-400 hover:text-gray-900 dark:hover:text-white dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Show information</span>
            </button>
            <div id="tooltip-user-opening" role="tooltip" class="inline-block absolute invisible z-10 py-1 px-2 max-w-sm text-xs font-normal text-white bg-gray-900 rounded-sm shadow-sm opacity-0 tooltip dark:bg-gray-700">
              With which job opening you would like to Associate this candidate.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </label>
          <%= form.collection_select(:opening_id, @openings, :id, :title, { :prompt => "Select Job Opening to associate" }, :class => "form-text-field", :required => true) %>
        </div>
      </div>
      <button type="submit" class="btn-primary">
        Edit Candidate
      </button>
      <%= link_to 'Cancel', candidate_path(@candidate), class: "btn-secondary" %>
    <% end %>
  </div>
</section>
