<div id="campaign_<%= dom_id(candidate) %>" data-controller="candidate">
  <div class="flex items-center">
    <dt class="font-semibold text-sm leading-none text-gray-900 dark:text-white">Change Sprint</dt>
    <div id="changeCampaignButton"  data-tooltip-target="tooltip-status" data-dropdown-toggle="campaignMenu" class="cursor-pointer p-1 ml-1 text-gray-500 rounded-xs hover:text-gray-900 dark:text-gray-400 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
      <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10.8 17.8-6.4 2.1 2.1-6.4m4.3 4.3L19 9a3 3 0 0 0-4-4l-8.4 8.6m4.3 4.3-4.3-4.3m2.1 2.1L15 9.1m-2.1-2 4.2 4.2"/>
      </svg>
    </div>
  </div>
  <dd class="mb-4 sm:mb-5 flex items-center">
    <span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2 py-0.5 rounded-sm">
      <%= @candidate.campaigns.empty? ? "No Sprint Assigned" : @candidate.campaigns.first.name %>
    </span>
    <% unless @candidate.campaigns.empty? %>
      <div data-action="click->candidate#update_campaign" data-candidate-campaign-param="<%= nil %>" data-candidate-candidate-param="<%= candidate.id %>">

        <svg class="w-5 h-5 text-red-800 dark:text-white cursor-pointer ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
        </svg>
      </div>
    <% end %>
  </dd>
  <div id="tooltip-status" role="tooltip" class="inline-block text-xs absolute invisible z-10 py-1 px-2 text-xs font-medium text-white bg-gray-900 rounded-xs shadow-xs opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
    Change Sprint
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  <!-- Dropdown menu -->
  <div id="campaignMenu"  data-candidate-target="menu" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-sm-lg shadow-sm shadow-lg w-60 dark:bg-gray-700 dark:divide-gray-600">
    <ul class="p-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="changeCampaignButton" >
      <% Campaign.active.each do |k, v| %>
        <li class="cursor-pointer" data-action="click->candidate#update_campaign" data-candidate-campaign-param="<%= k.id %>" data-candidate-candidate-param="<%= candidate.id %>">
          <div class="hidden bg-green-400 bg-red-400 bg-yellow-400 bg-fuchsia-400 bg-gray-400 bg-sky-400 bg-primary-400 "></div>
          <div class="hidden bg-green-100 bg-red-100 bg-yellow-100 bg-fuchsia-100 bg-gray-100 bg-sky-100 bg-primary-100 "></div>
          <div class="hidden text-green-800 text-red-800 text-yellow-800 text-primary-800 text-fuchsia-800 text-gray-800 text-sky-800"></div>
          <div class="flex p-1 rounded-sm hover:bg-gray-200 dark:hover:bg-gray-600 ">
            <div class="ms-2 text-xs flex items-center">
              <label class="cursor-pointer font-medium text-gray-900 dark:text-gray-300">
                <div><%= k.name %></div>
              </label>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
