  <nav id="toggleMobileMenu" class="hidden bg-gray-50 border-b border-gray-200 shadow-sm dark:bg-gray-900 lg:block dark:border-gray-800">
  <div class="px-0 lg:px-6">
    <div class="flex items-center">
      <ul class="flex flex-col mt-0 w-full text-sm font-medium lg:flex-row">
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_timeline_path(@candidate) %>" class="<%= current_page?(candidate_timeline_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Timeline</a>
        </li>
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_resume_path(@candidate) %>" class="<%= current_page?(candidate_resume_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Resume</a>
        </li>
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_interviews_path(@candidate) %>" class="<%= current_page?(candidate_interviews_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Interviews</a>
        </li>
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_checklists_path(@candidate) %>" class="<%= current_page?(candidate_checklists_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Checklists</a>
        </li>
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_notes_path(@candidate) %>" class="<%= current_page?(candidate_notes_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Notes</a>
        </li>
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_emails_path(@candidate) %>" class="<%= current_page?(candidate_emails_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Emails</a>
        </li>
        <li class="block border-b dark:border-gray-700 lg:inline lg:border-b-0">
          <a href="<%= candidate_reviews_path(@candidate) %>" class="<%= current_page?(candidate_reviews_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Reviews</a>
        </li>
        <li class="block lg:inline">
          <a href="<%= candidate_campaigns_path(@candidate) %>" class="<%= current_page?(candidate_campaigns_path(@candidate)) ? "selected-tab" : "unselected-tab" %>">Campaigns</a>
        </li>
      </ul>
    </div>
  </div>
</nav>