<div class="mb-24">
  <dt class="mb-2 font-semibold leading-none text-gray-900 text-sm dark:text-white">Other Details</dt>
  <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.2 19c-1-3.2 1-10.8 8.3-10.8V6.1a1 1 0 0 1 1.6-.9l5.5 4.3a1.1 1.1 0 0 1 0 1.7L14 15.6a1 1 0 0 1-1.6-1v-2c-7.2 1-8.3 6.4-8.3 6.4Z"/>
    </svg>
    <p class="text-gray-900 text-sm dark:text-gray-400">Source: <%= candidate.source.title %></p>
  </dd>
  <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
    <%= render partial: "candidate/owner", locals: { candidate: candidate} %>
  </dd>
  <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-width="2" d="M7 17v1c0 .6.4 1 1 1h8c.6 0 1-.4 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
    </svg>
    <p class="text-gray-900 text-sm dark:text-gray-400">Added By: <%= candidate.user.name %></p>
  </dd>
  <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    <p class="text-gray-900 text-sm dark:text-gray-400">Added on: <%= display_date(candidate.created_at) %></p>
  </dd>
  <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
    <p class="text-gray-900 text-sm dark:text-gray-400">Updated on: <%= display_date(candidate.updated_at) %></p>
  </dd>
</div>
