<div class="border-b bg-gray-50 border-gray-200 py-4 lg:pl-8 w-full xl:shrink-0 xl:border-b-0 xl:border-r xl:pl-6">
  <!-- Left column area -->
  <!-- drawer component -->
  <div id="readUserDrawerAdvanced" class="pr-4 overflow-y-auto h-screen bg-gray-50  dark:bg-gray-800">
    <div class="flex items-center mb-4 sm:mb-5">
      <div>
        <h4 id="drawer-label" class="mb-1 text-lg font-semibold leading-none text-gray-900  dark:text-white"><%= candidate.name %></h4>
        <div class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
          <svg class="w-4 h-4 mr-2  text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M2 5.6V18c0 1.1.9 2 2 2h16a2 2 0 0 0 2-2V5.6l-.9.7-7.9 6a2 2 0 0 1-2.4 0l-8-6-.8-.7Z"/>
            <path d="M20.7 4.1A2 2 0 0 0 20 4H4a2 2 0 0 0-.6.1l.7.6 7.9 6 7.9-6 .8-.6Z"/>
          </svg>
          <p class="text-gray-900 text-sm dark:text-gray-400"><%= candidate.email %></p>
        </div>
        <div class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
          <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8 4a2.6 2.6 0 0 0-2 .9 6.2 6.2 0 0 0-1.8 6 12 12 0 0 0 3.4 5.5 12 12 0 0 0 5.6 3.4 6.2 6.2 0 0 0 6.6-2.7 2.6 2.6 0 0 0-.7-3L18 12.9a2.7 2.7 0 0 0-3.8 0l-.6.6a.8.8 0 0 1-1.1 0l-1.9-1.8a.8.8 0 0 1 0-1.2l.6-.6a2.7 2.7 0 0 0 0-3.8L10 4.9A2.6 2.6 0 0 0 8 4Z"/>
          </svg>
          <p class="text-gray-900 text-sm dark:text-gray-400"><%= candidate.phone %></p>
        </div>
        <div class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
          <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 2a8 8 0 0 1 6.6 12.6l-.1.1-.6.7-5.1 6.2a1 1 0 0 1-1.6 0L6 15.3l-.3-.4-.2-.2v-.2A8 8 0 0 1 11.8 2Zm3 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" clip-rule="evenodd"/>
          </svg>
          <p class="text-gray-900 text-sm dark:text-gray-400"><%= candidate.location %></p>
        </div>
        <div class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
          <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4a1 1 0 1 0-2 0v4c0 .3.1.5.3.7l3 3a1 1 0 0 0 1.4-1.4L13 11.6V8Z" clip-rule="evenodd"/>
          </svg>
          <p class="text-gray-900 text-sm dark:text-gray-400">Age: 27 years</p>
        </div>
      </div>
    </div>
    <dl>
      <dt class="mb-2 text-sm font-medium leading-none text-gray-900 dark:text-white">Biography</dt>
      <dd class="mb-4 font-light text-gray-900 text-sm sm:mb-5 dark:text-gray-400"><%= candidate.biography.empty? ? "-" : candidate.biography %></dd>
      <%= render partial: "candidate/social", locals: {candidate: candidate }%>
      <dt class="mb-2 font-semibold text-sm leading-none text-gray-900 dark:text-white">Bucket</dt>
      <dd class="mb-4 sm:mb-5">
        <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
          <%= candidate.bucket.titleize %>
        </span>
      </dd>
      <dt class="mb-2 font-semibold leading-none text-gray-900 text-sm dark:text-white">Professional Details</dt>
      <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
        <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4c0-.6.4-1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1H9Zm5 0a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1V7c0-.6-.4-1-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1H9Zm5 0a1 1 0 0 0-1 1v1c0 .6.4 1 1 1h1c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
        </svg>
        <p class="text-gray-900 text-sm dark:text-gray-400"><%= candidate.current_company %></p>
      </dd>
      <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
        <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.4l1.4.7a7.7 7.7 0 0 0 .7.3 21 21 0 0 0 16.4-.3l1.5-.7V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5c0-.6-.4-1-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.4 7.9.6-.3V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.4l.6.3a10 10 0 0 0 .7.3 23 23 0 0 0 18-.3h.1L21 13l.4.9ZM12 10a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
        </svg>
        <p class="text-gray-900 text-sm dark:text-gray-400"><%= candidate.current_title %></p>
      </dd>
      <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
        <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.3a5 5 0 0 0 2.6 1.7c2.2.6 4.5-.5 5-2.3.4-2-1.3-4-3.6-4.5-2.3-.6-4-2.7-3.5-4.5.5-1.9 2.7-3 5-2.3 1 .2 1.8.8 2.5 1.6m-3.9 12v2m0-18v2.2"/>
        </svg>
        <p class="text-gray-900 text-sm dark:text-gray-400">Current CTC: <%= candidate.current_ctc %> LPA</p>
      </dd>
      <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
        <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.6 16.7c.2.3.5.5.9.6a1.4 1.4 0 0 0 1.7-.8c.2-.6-.4-1.3-1.2-1.5-.8-.2-1.4-.8-1.2-1.5a1.4 1.4 0 0 1 1.7-.7c.4 0 .7.2.9.5m-1.4 4v.6m0-5.9v.7M4 15v4m3-6v6M6 8.5 10.5 5 14 7.5 18 4m0 0h-3.5M18 4v3m2 8a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"/>
        </svg>
        <p class="text-gray-900 text-sm dark:text-gray-400">Expected CTC: <%= candidate.expected_ctc %> LPA</p>
      </dd>
      <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
        <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M10 5a2 2 0 0 0-2 2v3h2.4a7.5 7.5 0 0 0 0 11H5a2 2 0 0 1-2-2v-7c0-1.1.9-2 2-2h1V7a4 4 0 1 1 8 0v1.2c-.7 0-1.3.3-2 .6V7a2 2 0 0 0-2-2Z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M10 15.5a5.5 5.5 0 1 1 11 0 5.5 5.5 0 0 1-11 0Zm6.5-1.5a1 1 0 1 0-2 0v1.5c0 .3.1.5.3.7l1 1a1 1 0 0 0 1.4-1.4l-.7-.7V14Z" clip-rule="evenodd"/>
        </svg>
        <p class="text-gray-900 text-sm dark:text-gray-400">Notice Period: <%= candidate.notice_period %> days</p>
      </dd>
      <dt class="mb-2 mt-5 font-semibold leading-none text-gray-900 text-sm dark:text-white">Resume</dt>
      <dd class="flex items-center text-sm font-light text-gray-900 dark:text-gray-400">
        <% if candidate.resume.attached? %>
          <p class="text-gray-900 text-sm dark:text-gray-400">Resume: <%= link_to candidate.resume.filename, url_for(candidate.resume), target: :_blank %></p>
        <% end %>
      </dd>
      <dt class="mb-2 mt-5 font-semibold text-sm leading-none text-gray-900 dark:text-white">Associated with Job Opening</dt>
      <dd class="mb-4 sm:mb-5 ">
        <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
          <%= candidate.opening.title.titleize %>
        </span>
      </dd>
    </dl>
  </div>
</div>
