<div class="flex min-h-full flex-col">
  <!-- 3 column wrapper -->
  <div class="mx-auto w-full grow lg:flex xl:px-2 -ml-4">
    <!-- Left sidebar & main wrapper -->
    <div class="w-80 xl:flex"><%= render partial: "candidate/profile", locals: { candidate: @candidate } %></div>

    <div class="flex-1">
      <!-- Main area -->
      <%= render partial: "candidate/nav" %>
      <div class="px-0 lg:px-6 py-6">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <% @events.each do |event| %>
            <%= render partial: "candidate/timeline/activity", locals: { event: event } %>
          <% end %>
        </ol>
      </div>
    </div>

    <div class="shrink-0 border-t border-gray-200 px-4 py-6 sm:px-6 lg:w-80 lg:border-l lg:border-t-0 lg:pr-8 xl:pr-6">
      <!-- Right column area -->
      <div>
        <h5 class="mr-3 font-semibold dark:text-white">Quick Actions</h5>

        <p class="text-gray-500 dark:text-gray-400 text-sm mb-4">Select which actions you want to perform with this candidate.</p>

        <%= render partial: "candidate/status", locals: { candidate: @candidate } %>
        <%= render partial: "candidate/joining", locals: { candidate: @candidate } %>
        <%= render partial: "candidate/recycle", locals: { candidate: @candidate } %>
        <%= render partial: "candidate/lead", locals: { candidate: @candidate } %>
        <%= render partial: "candidate/recycle_date", locals: { candidate: @candidate } %>
      </div>
    </div>
  </div>
</div>
