<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-8">
    <%= render "shared/form_messages", resource: @form, message: local_assigns[:message] %>
    <%= render "shared/form_header", title: "Add New Campaign", subtitle: "Please fill in details of new campaign." %>
    <%= tailwind_form_with(model: @campaign, id: dom_id(@campaign), url: campaigns_path, method: "POST") do |form| %>
      <div class="mt-4 mb-2 grid gap-4 sm:gap-6">
        <div>
          <%= form.text_field :name, "Campaign Name", required: true, placeholder: "e.g. Team Lead Hiring Campaign" %>
        </div>
      </div>
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2 space-y-2">
          <div>
            <label for="user-role" class="inline-flex items-center mb-1 text-sm font-medium text-gray-900 dark:text-white">
              Owner
            </label>
            <%= form.collection_select(:owner_id, @owners, :id, :name, { :prompt => "Select Owner" }, :class => "form-text-field", :required => true) %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn-primary mt-4">
        Add New Campaign
      </button>
      <%= link_to "Cancel", :back, class: "btn-secondary" %>
    <% end %>
  </div>
</section>
