<!DOCTYPE html>
<html>
  <head>
    <title>Quick Recruit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= yield :head %>
  </head>
  <body>
    <main class="">
      <% if user_signed_in? %>
        <%= render "shared/navbar" %>
      <% end %>
      <p class="text-sm font-medium text-center notice bg-green-100"><%= notice %></p>
      <p class="text-sm font-medium text-center alert bg-red-100"><%= alert %></p>
      <main>
        <%= yield %>
      </main>
    </body>
  </html>
